.cool-font {
    font-family: Shrikhand, cursive;
  }
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    position: center;
    size: cover;
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#burgersTitle {
    text-align: center;
}
#burgersBackground {
    background-image: url(Website-banner_2.jpg); 
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}